@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent native scroll, we'll use R3F/ScrollControls */
  background: #050505; /* Deep dark background */
  color: white;
  cursor: none; /* Hide default cursor */
}
